<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity" />

        <activity android:name=".activity.OKHttpActivity" />
        <activity android:name=".activity.MemoryLeakActivity" />
        <activity android:name=".activity.GreenDaoActivity" />
        <activity android:name=".activity.ServiceKeepAliveActivity" />
        <activity
            android:name=".activity.KeepActivity"
            android:excludeFromRecents="true"
            android:theme="@style/KeepTheme" />
        <activity android:name=".activity.SpareActivity" />
        <activity android:name=".im.IM_NewsActivity" />
        <activity android:name=".im.IM_MailListActivity" />
        <activity android:name=".okhttp.socket.WebSocketActivity" />
        <activity android:name=".bluetooth.BluetoothActivity">
            <!--蓝牙操作 -->
        </activity>
        <activity android:name=".bluetooth.BluetoothActivity1">
            <!--蓝牙操作 -->
        </activity>
        <activity android:name=".activity.GlideGifActivity">
            <!--GIF操作 -->
        </activity>
        <activity android:name=".activity.LocationActivity">
            <!--高德定位定理围栏 -->
        </activity>
        <activity android:name=".activity.EmotionKitActivity">
            <!--表情页面 -->

        </activity>
        <activity android:name=".activity.CoordinatorActivity">
            <!--测试滑动的控件CoordinatorLayout+AppBarLayout -->

        </activity>
        <activity android:name=".activity.DrawActivity">
            <!--绘画自定义View -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="839da1e018d0574bb0ccb3b9cb0ec261" />


        <!--由于Android8.0以后不能使用后台服务，
        使用Service需要使用ContextCompat.startForegroundService启动前台服务，
        而且通知栏有Notification显示该Service正在运行，这可能会带来不好的用户体验。
        如果还是希望使用服务在后台默默工作，通过使用服务开启子进程等等 重要1+重要2+重要3+重要4-->
        <!--android.permission.BIND_JOB_SERVICE  //重要1 -->
        <!-- 为防止Service被系统回收，可以尝试通过提高服务的优先级解决，1000是最高优先级，数字越小，优先级越低 -->
        <!--设置persistent属性为true，则可使该服务免受out-of-memory killer的影响。但是这种做法一定要谨慎，系统服务太多将严重影响系统的整体运行效率-->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="333464075" />

        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="5ef749c83d914c1481e07923a1446134" />

        <!--高德定位服务 -->
        <receiver
            android:name=".service.MyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 消息接收监听器 （用户可自主扩展） -->
        <service
            android:name=".service.ReceptionService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:persistent="true"
            android:priority="1000" />

        <service android:name="com.inuker.bluetooth.library.BluetoothService" />

        <service android:name="com.amap.api.location.APSService" />


    </application>


    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!-- //重要2 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- ======================授权访问网络（OkHttpUtil）========================== -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许一个程序访问精良位置(如GPS)  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读外部存储，如SD卡上读文件 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--======================授权访问网络（HttpUtil）========================== -->
    <!--允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许一个程序访问精良位置(如GPS)  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--访问电话状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- ======================高德定位========================== -->
    <!--如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--如果您的应用需要后台定位权限，且有可能运行在Android Q设备上,并且设置了target>28，必须增加这个权限声明-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!-- 阿里云推送相关权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 接收推送主要权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>